<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tasks</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}

                    <li>
                        <a href="{% url 'show_my_tasks' %}">My tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'list_projects' %}">My projects</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>

                {% else %}

                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                    
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <h1>My Tasks</h1>

            {% if tasks_list|length > 0 %}

                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in tasks_list %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.start_date }}</td>
                                <td>{{ item.due_date }}</td>
                                <td>{{ item.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% else %}

                <p>You have no tasks</p>

            {% endif %}

        </div>
    </main>
</body>
</html>